module.exports = {
	channelName: '',
	weekdays: [
		'Monday',
		'Tuesday',
		'Thursday',
		'Friday',
	],
	teamMembers: [],
	oneOnOnesPerWeek: 2,
	cribbsPerWeek: 5,
	hoursRange: [ 11, 19 ],
	epoch: 0,
};
